- pl = "en"

- content_for :head do
  %title #{data.send(pl).title} // about us

- content_for :sidebar do
  = partial "sidebar", :locals => {:selected_index => 0, :locale => pl} 

- content_for :footer do
  = partial "footer", :locals => {:locale => pl}

%h1.first welcome to the other hemisphere!

%p
  The Other Hemisphere (Nasprotna hemisfera) is a place of meeting for experts and general public interested in new developments and problems pertaining to modern science. Through seminars, talks, panels and our publishing activity we explore the limits arising from the current division of sience into independent and often self-contained disciplines, and the possible ways of surpassing those limits, both with the help of
  %em interdisciplinary cooperation 
  as well as by  
  %em seeking and establishing transdisciplinary scientific paradigms.
  In doing so, we aim to evoke interest in these kind of questions and encourage an active search for the answers.


%h1 why join us?

%p
  Members of the group participate in its numerous activities, promote interdisciplinary and transdisciplinary pursuits in science and strive towards greater cohesion between different scientific disciplines. By mutually sharing information on recent developments and discoveries in individual scientific disciplines, debating influential articles, books and other scientifically relevant material, and actively participating in both formal and informal meetings and talks, the Other Hemisphere members conceptualize, plan and execute different scientific and research projects, propose and embrace new approaches to scientific problems and broaden their overall knowledge as well.   
