#header
	= partial "header", :locals => {:menu_items => {:about=>"o nas", :events=>"dogodki", :contact=>"kontakt"}, :selected_index => 1, :lang => "si"}

#main
	%h1
		o nasprotni hemisferi

	%p
		Nasprotna hemisfera je prostor srečevanja strokovnjakov in laične javnosti, ki jih zanimajo novosti in problemi sodobne znanosti. Preko seminarjev, predavanj, okroglih miz in publicistične dejavnosti raziskujemo omejitve, ki izhajajo iz trenutne delitve znanosti na samostojne in pogosto samozadostne discipline, ter možne načine preseganja teh omejitev, in sicer tako preko interdisciplinarnega povezovanja in sodelovanja kot preko iskanja in vzpostavljanja transdisciplinarnih znanstvenih paradigem.  S svojo dejavnostjo želimo sprožiti zanimanje za tovrstna vprašanja in spodbujati k aktivnem iskanju odgovorov nanje.

	%h1
		društvo nasprotna hemisfera

	%p
		loreme ipsume...
